<section id="assertions">
    <nav id="assertion-menu">
        <ul>
            <% Object.keys(public.assertions._data).forEach(function (type) { %>
            <li><a href="#<%= type.replace(/ /g, '-') %>"><%= type %></a>
                <ul>
                    <% public.assertions._data[type].forEach(function (assertion) { %>
                    <li><a href="#<%=(type + ' ' + assertion).replace(/ /g, '-')%>"><%= assertion %></a></li>
                    <% }) %>
                </ul>
            </li>
            <% }) %>
        </ul>
    </nav>

    <div class="content">
        <% Object.keys(public.assertions._data).forEach(function (type) { %>
        <a name="<%= type.replace(/ /g, '-') %>"></a>
        <h2><%= type %></h2>
            <% public.assertions._data[type].forEach(function (assertion) { %>
            <a name="<%=(type + ' ' + assertion).replace(/ /g, '-')%>"></a>
            <h3><%= assertion %></h3>
            <%- partial((type + ' ' + assertion).replace(/ /g, '-')) %>
            <% }) %>
        <% }) %>
    </div>

</section>
