<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link rel="stylesheet" href="<%= '/static/normalize.css' %>" type="text/css" media="screen" />
    <link rel="stylesheet" href="<%= '/static/main.css' %>" type="text/css" media="screen" />
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="<%= '/static/bug-icon-black.ico' %>">
    <title><%= windowTitle %></title>
</head>
<body class="sidebar-hidden<%=typeof hasSidebar !== 'undefined' ? ' has-sidebar' : ''%>">
    <header>
        <div class="logo-icon"></div>
        <nav>
            <ul>
                <li class="menu-toggle-item">
                    <button class="menu-toggle" onclick="toggleSidebar()"></button>
                </li>
                <% collections.pages.forEach(function (page) { %>
                <li class="<%- '/' + path === page.url ? 'active' : '' %>"><a href="<%= page.url %>"><%= page.title %></a></li>
                <% }) %>
                <li class="<%- path.match(/^assertions\/?/) ? 'active' : '' %>"><a href="<%= assertionsByType.any[0].url %>">Assertions</a></li>
                <% if (collections.apiPages.length > 0) { %>
                <li class="<%- path.match(/^api\/?/) ? 'active' : '' %>"><a href="<%= collections.apiPages[0].url %>">API</a></li>
                <% } %>
            </ul>
        </nav>
        <div class="search" style="visibility: hidden">
            <input id="search" placeholder="Search..." value="">
            <div id="searchDropDown" class="dropDown">
                <ul id="searchResults"></ul>
            </div>
        </div>
    </header>
