<% include _header.ejs %>
<h1><%= title %></h1>
<%- contents %>

<% if (filter !== 'all') { %>
    <h3><%= filter %></h3>
    <% assertionsByType[filter].forEach(function (assertion) { %>
        <p><a href="<%= assertion.href %>"><%= assertion.title %></a></p>
    <% }) %>
<% } else { %>
   <% Object.keys(assertionsByType).forEach(function (type) { %>
       <h3><a href="/assertions/<%= type.replace(/ /g, '-') %>/"><%= type %></a></h3>
       <% assertionsByType[type].forEach(function (assertion) { %>
           <p><a href="<%= assertion.href %>"><%= assertion.title %></a></p>
       <% }) %>
   <% }) %>
<% } %>

<% include _footer.ejs %>
