<% include _header.ejs %>
<h1><%= title %></h1>
<%- contents %>

<% if (filter !== 'all') { %>
    <h3><%= filter %></h3>
    <% assertions[filter].forEach(function (assertion) { %>
        <p><a href="/assertions/<%= filter.replace(/ /g, '-') %>/<%= assertion.replace(/ /g, '-') %>/"><%= assertion %></a></p>
    <% }) %>
<% } else { %>
   <% Object.keys(assertions).forEach(function (type) { %>
       <h3><a href="/assertions/<%= type.replace(/ /g, '-') %>/"><%= type %></a></h3>
       <% assertions[type].forEach(function (assertion) { %>
           <p><a href="/assertions/<%= type.replace(/ /g, '-') %>/<%= assertion.replace(/ /g, '-') %>/"><%= assertion %></a></p>
       <% }) %>
   <% }) %>
<% } %>

<% include _footer.ejs %>
